[submodule "third_party/xterra_m2_assets"]
	path = third_party/xterra_m2_assets
	url = https://github.com/xterra-robotics/xterra_m2
[submodule "third_party/m2_sdk"]
	path = third_party/m2_sdk
	url = https://github.com/SlyPredator/m2_sdk.git
